<!-- Config file for the game -->
<config>
    <app>
        <title>Shovel Knight</title>
        <maxFrameDuration value="16"/>
		<debug status ="true"/>
    </app>

     <render>
        <vsync value="false"/>
    </render>

    <window>
        <resolution width="400" height="224"/>
		<fullscreen value="false"/>
		<borderless value="false"/>
		<resizable value="true"/>
        <fullscreen_window value="false"/>

    </window>

	<audio>
		<music path ="Assets/Musics/"/>
		<sfx path ="Assets/Sounds/"/>
		<general_volume value="1"/>
		<music_volume value="1"/>
		<sfx_volume value="1"/>
	</audio>
	<levels path="Assets/Maps/LevelsData/"/>


</config>